{% extends 'base.html.twig' %}

{% block title %}Hello ApiRegistrationController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/api_registration_index.css') }}">

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>D:/xamppa/Foode_recipes/src/Controller/ApiRegistrationController.php</code></li>
        <li>Your template at <code>D:/xamppa/Foode_recipes/templates/api_registration/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}

